<%= render "shared/login_form" unless current_member %>

<h2>Latest News</h2>
<ul>
  <% 5.times do |i| %>
    <li><%= link_to "NEWS HEADLINE", "#" %></li>
  <% end %>
</ul>

<h2>Blog</h2>
<ul>
  <% 5.times do |i| %>
    <li><%= link_to "BLOG TITLE", "#" %></li>
  <% end %>
</ul>

